e
h1 {
    text-align: center;
    font-family: "verdana", sans-serif;
    font-weight: heavier;
    color: maroon;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  font-weight: bolder;
  font-size: 14px;
  background-image:url("ingredients.jpg");
    background-size: 800px 800px;
    background-repeat: no-repeat;


}

ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
  a:hover;
}

table, th, td {
  border: 1px solid;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
li{
  float: left;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
